#new_upload_iframe
  - unless params[:basic_uploader]
    - custom_javascript_includes( 'http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools.js', |
                                  'fancyupload/source/Fx.ProgressBar', |
                                  'fancyupload/source/Swiff.Uploader', |
                                  'fancyupload/source/FancyUpload3.Attach', |
                                  'fancyupload/source/FancyUpload3.S3Uploader') |
    &nbsp;
    = s3_uploader :key => "assets/#{@current_project.permalink}/original", |
                  :max_filesize => 800.megabytes, |
                  :on_complete => create_from_flash_upload_project_uploads_url(:project_id => @current_project.permalink, :iframe => true, :user_id => current_user.id), |
                  :on_complete_method => 'post', |
                  :validate_filenames_url => validate_file_names_project_uploads_url(:project_id => @current_project.permalink) |
  - else
    = error_messages_for :upload
    - form_for upload, :url => upload_form_url_for(comment), :html => { :multipart => true, :method => :post } do |f|
      = hidden_field_tag 'iframe', 'true'
      .file
        = t('.select_a_file')
        = f.file_field :asset, :size => 25, :id => 'upload_file'
        = loading('upload')
        = observe_upload_form

=loading('upload_iframe_form') if params[:basic_uploader]