- no_wrapper ||= false
- @upload_thumbnail = capture do
  -if upload.image?
    =upload_link_with_thumbnail(upload)
  -else
    = file_icon_image(upload,'16px')
  %span
    = upload_link(upload.project,upload)
    = number_to_human_size(upload.size)
    = delete_upload_link(upload,target)

- unless no_wrapper
  .upload_thumbnail{:id => "upload_#{upload.id}"}= @upload_thumbnail
- else
  = @upload_thumbnail