- unless params[:basic_uploader]
  - custom_javascript_includes( 'http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools.js', |
                                'fancyupload/source/Fx.ProgressBar', |
                                'fancyupload/source/Swiff.Uploader', |
                                'fancyupload/source/FancyUpload3.Attach', |
                                'fancyupload/source/FancyUpload3.S3Uploader') |

- content_for :column do
  - unless params[:basic_uploader]
    = s3_uploader :key => "assets/#{params[:project_id]}/original", |
                  :max_filesize => 800.megabytes, |
                  :on_complete => create_from_flash_upload_project_uploads_url(:project_id => params[:project_id], :user_id => current_user.id), |
                  :on_complete_method => 'post', |
                  :validate_filenames_url => validate_file_names_project_uploads_url |
    %span.switch_uploader_link
      Issues? Then switch to the
      = (link_to 'Basic Uploader', url_for(:basic_uploader => true)) + '.'
  - else
    = add_upload_link(@current_project) if @upload.errors.empty?
    = upload_form(@current_project,@upload)
    %span.switch_uploader_link
      Try our multifile
      = (link_to 'Flash Uploader', url_for(:basic_uploader => nil)) + '.'
  
=list_uploads(@current_project,@uploads)
- if false
  = javascript_tag "FancyZoomBox.directory = 'http://localhost:3000/images/zoom';" 
  = javascript_tag "$$('a.fancyzoom').each(function(e) { new FancyZoom(e) })"